<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.danilov.supermanga"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionCode="1"
          android:versionName="1">

    <uses-sdk
        android:minSdkVersion="1"
        android:targetSdkVersion="1"/>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE"/>

    <android:uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".core.application.MangaApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/Manga">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.ProfileActivity">
        </activity>

        <activity android:name=".activity.CloudStorageActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="yandexmanga" />
            </intent-filter>
        </activity>

        <activity
            android:name=".test.TouchImageViewActivityTest"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".test.QueryTestActivity"
            android:label="Query Engine Test"/>
        <activity
            android:name=".activity.MangaInfoActivity"
            android:theme="@style/MangaTransparent"/>
        <activity android:name=".activity.SingleFragmentActivity"/>
        <activity
            android:name=".test.LocalMangaActivity"
            android:label="Local Manga Activity"/>
        <activity android:name=".test.LocalImageActivity"/>
        <activity
            android:name=".activity.MangaQueryActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".activity.FolderPickerActivity">
        </activity>
        <activity android:name=".activity.FilePickerActivity">
        </activity>
        <activity android:name=".activity.MangaViewerActivity"
            android:theme="@style/Manga.TranslucentDecor"/>
        <activity
            android:name=".core.notification.headsupold.HeadsUpNotification$HeadsUpActivity"
            android:label="Notification"
            android:theme="@style/Theme.CustomPanel"/>

        <!--&lt;!&ndash; ad activity &ndash;&gt;-->
        <!--<activity-->
            <!--android:name="com.google.android.gms.ads.AdActivity"-->
            <!--android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"-->
            <!--android:theme="@android:style/Theme.Translucent"/>-->

        <service android:name=".core.service.MangaDownloadService"/>
        <service android:name=".core.service.MangaUpdateServiceNew"/>
        <service
            android:name=".core.service.StartUpdateService"
            android:enabled="true"/>
        <service
            android:name=".core.service.OnlineStorageProfileService"
            android:enabled="true"/>

        <receiver android:name=".core.receiver.AlarmReceiver"/>
        <receiver
            android:name=".core.receiver.WIFIConnectionReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>
                <action android:name="android.net.wifi.STATE_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".core.receiver.BootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <activity android:name=".activity.RepositoryLoginActivity">
        </activity>
    </application>

</manifest>
