<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.danilov.mangareaderplus"
    android:versionCode="42"
    android:versionName="0.99" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name="com.danilov.mangareaderplus.core.application.MangaApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Manga" >
        <activity
            android:name="com.danilov.mangareaderplus.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.danilov.mangareaderplus.MyActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.danilov.mangareaderplus.test.TouchImageViewActivityTest"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.danilov.mangareaderplus.test.QueryTestActivity"
            android:label="Query Engine Test" />
        <activity android:name="com.danilov.mangareaderplus.activity.MangaInfoActivity" />
        <activity android:name="com.danilov.mangareaderplus.activity.SingleFragmentActivity" />
        <activity
            android:name="com.danilov.mangareaderplus.test.LocalMangaActivity"
            android:label="Local Manga Activity" />
        <activity
            android:name="com.danilov.mangareaderplus.activity.DownloadsActivity"
            android:label="DownloadsActivity" />
        <activity android:name="com.danilov.mangareaderplus.test.LocalImageActivity" />
        <activity
            android:name="com.danilov.mangareaderplus.activity.MangaQueryActivity"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.danilov.mangareaderplus.activity.FolderPickerActivity" >
        </activity>

        <activity android:name="com.danilov.mangareaderplus.activity.MangaViewerActivity" />
        <activity
            android:name="com.danilov.mangareaderplus.activity.HistoryActivity"
            android:label="History" />
        <activity
            android:name="com.danilov.mangareaderplus.core.notification.headsupold.HeadsUpNotification$HeadsUpActivity"
            android:label="Notification"
            android:theme="@style/Theme.CustomPanel" />

        <service android:name="com.danilov.mangareaderplus.core.service.MangaDownloadService" />
        <service
            android:name="com.danilov.mangareaderplus.core.service.MangaUpdateService"
            android:exported="false" >
        </service>
    </application>

</manifest>
